/* menu */
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background: #d70018;

    position: sticky;
    top: 0;
    z-index: 10000;
}
#menu {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 5px 0; /* Tạo khoảng thở nhẹ */
}

/* Reset mặc định của thẻ H1 */
.logo h1 {
  margin: 0;
  padding: 0;
  line-height: 1; /* Giúp logo gọn gàng hơn */
}

/* Style chính cho chữ Logo */
.logo h1 a {
  font-size: 26px;      /* Kích thước chữ lớn vừa phải */
  font-weight: 800;     /* Chữ rất đậm để tạo điểm nhấn */
  text-transform: uppercase; /* Viết hoa toàn bộ: NÔNG SẢN VIỆT */
  letter-spacing: 1.5px; /* Khoảng cách giữa các chữ cái cho thoáng */
  color: #ffffff;       /* Màu trắng */
  text-decoration: none; /* Bỏ gạch chân */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Bóng đổ nhẹ giúp chữ nổi bật trên nền đỏ/xanh */
  transition: all 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
  margin-right: 25px;
}

/* Hiệu ứng khi di chuột vào Logo */
.logo h1 a:hover {
  color: #f0ad4e; /* Đổi sang màu vàng cam khi hover */
  text-shadow: 0 0 10px rgba(240, 173, 78, 0.6); /* Hiệu ứng phát sáng nhẹ */
  transform: scale(1.02); /* Phóng to cực nhẹ tạo cảm giác bấm được */
}
.menu-list {
    display: flex;
    margin: 0;
}

.menu-list li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.menu-list li > a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    text-transform: uppercase;
}
.menu-list ul {
    margin: 0;
    padding: 0;
}
.menu-drop{
    position: absolute;
    margin-top: .5rem;
    top: 100%;
    width: 100%;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;

    box-shadow: 4px 3px 4px -5px;
}
.menu-drop a{
    padding: .3rem 1rem;
    color: #333;
}
.menu-drop a:hover{
    background: #eee;
    color: #333;
}
.search{
    flex-grow: 1;
}
.search form {
    position: relative;
 }
.search form input {
   padding: .3rem 1rem;
   outline: none;
   border: none;
   width: 100%;
}
.search form span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
 }
 .search form span svg{
    font-size: 22px;
    color: black;
 }



/* search product */
.SearchProduct{
    display: flex;
    position: relative;
    margin: 0 30px;
}
#SearchProduct{
    width: 700px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
}
.submit{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 21px;
    text-align: center;
    background: #d70018;
    color: white;
    border: none;
    padding: 5px;
    font-size: 22px;
}
.close{
    display: none;
}
.bar{
    display: none;
    cursor: pointer;
}
.line{
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 8px 0;
}

.ant-dropdown-link:hover{
    color: #fff;
    cursor: pointer;
}


.count{
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 22px;

    background: white;
    color: #d70018;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}

@media screen and (max-width: 800px){
    #hidden{
        display: none;
    }
    #menu{
        width: 100%;
        padding: 0 .3rem;
    }
    .logo{
        flex-grow: 0;
    }
    .menu-list{
        position: absolute;
        top:0%;
        left: 0;
        width: 100%;
        height: 100vh;

       
        flex-direction: column;
        background: black;
        z-index: 11;
        opacity: 0.9;
        padding-top: 9rem;
        margin-top: 60px;
    }
    .menu-list li{
        padding: 1rem 0;
    }
    .menu-list a{
        padding: 0;
        color: white;
    }
    .close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        display: block;
    }
    .bar{
        display: block;
        margin-left: 1rem;
    }
    .search{
        flex-grow: 1;
    }
    .search form{
        display: flex;
    }
    .search form input {
        width: 100%;
     }
}